<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.akfang.snow.homework.mapper.CoreInnermailMapper">

    <resultMap id="BaseResultMap" type="cn.akfang.snow.common.model.entity.CoreInnermail">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="send_date" column="send_date" jdbcType="TIMESTAMP"/>
        <result property="receive_date" column="receive_date" jdbcType="TIMESTAMP"/>
        <result property="is_read" column="is_read" jdbcType="TINYINT"/>
        <result property="from_user_id" column="from_user_id" jdbcType="BIGINT"/>
        <result property="to_user_id" column="to_user_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,
        content,title,send_date,
        receive_date,is_read,from_user_id,
        to_user_id
    </sql>
</mapper>
