.card-style0 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff6098), to(#ffa96a));
  background-image: linear-gradient(to bottom right, #ff6098, #ffa96a)
}

.card-style1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#1fbdb8), to(#47e894));
  background-image: linear-gradient(to bottom right, #1fbdb8, #47e894)
}

.card-style2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#8360fa), to(#cb8dff));
  background-image: linear-gradient(to bottom right, #8360fa, #cb8dff)
}

.card-style3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#4762f3), to(#5cc3ff));
  background-image: linear-gradient(to bottom right, #4762f3, #5cc3ff)
}

