<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.CoreTeacherCoursesMapper">

    <resultMap id="BaseResultMap" type="generator.domain.CoreTeacherCourses">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="teacher_id" column="teacher_id" jdbcType="BIGINT"/>
            <result property="course_id" column="course_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,teacher_id,course_id
    </sql>
</mapper>
