<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.CoreExamstudentattendMapper">

    <resultMap id="BaseResultMap" type="generator.domain.CoreExamstudentattend">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="score" column="score" jdbcType="DOUBLE"/>
            <result property="is_done" column="is_done" jdbcType="TINYINT"/>
            <result property="course_id" column="course_id" jdbcType="BIGINT"/>
            <result property="exam_id" column="exam_id" jdbcType="BIGINT"/>
            <result property="student_id" column="student_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,
        score,is_done,course_id,
        exam_id,student_id
    </sql>
</mapper>
