<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.CoreExamquestionresultMapper">

    <resultMap id="BaseResultMap" type="generator.domain.CoreExamquestionresult">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="stu_answer" column="stu_answer" jdbcType="INTEGER"/>
            <result property="right_answer" column="right_answer" jdbcType="INTEGER"/>
            <result property="right" column="right" jdbcType="TINYINT"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="exam_join_id" column="exam_join_id" jdbcType="BIGINT"/>
            <result property="question_id" column="question_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,
        stu_answer,right_answer,right,
        score,exam_join_id,question_id
    </sql>
</mapper>
